h1 {
  text-align: center;
}

.PlayerNames {
  margin-left: 200px;
}

.winner {
  margin-left: 230px;
}

.GameTable {
  margin-top: 40px;
  margin-left: 20px;
  display: grid;
  width: 600px;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 150px;
}
